@import './variables';
p {
    color: $para-color;
}
h1,h2,h3,h4,h5,h6 {
    color: $hero-color;
    font-family: $header-font;
}
.sub-head-3 {
    margin: 1rem 0;
}
header {
    width: 100%;
    height: auto;
    margin: 10px 0;
    .nav-wrapper {
        .logo-wrapper {
            width: 100%;
            .logo {
                img {
                    width: 150px;
                    height: 32px;
                }
            }
        }
        .desktop-nav {
            width: 100%;
            display: none;
            .top-nav-list {
                width: 100%;
                display: inline-block;
                list-style-type: none;
                li {
                    display: inline-block;
                    a {
                        text-decoration: none;
                        display: block;
                    }
                }
            }
        }
    }
}
.hero {
    width: 100%;
    height: auto;
    // border: 1px solid tomato;
    margin: 10px 0;
    padding: 20px 0 10px 0;
    .hero-details {
        .hero-1 {
            margin: 10px 0 20px 0;
            font-size: 2.5rem;
            text-align: center;
            color: $hero-color;
            line-height: 1.3;
        }
        .hero-2 {
            text-align: center;
            font-size: 1.1rem;
            margin: 10px 0 5px 0;
        }
    } 
    .hero-ctas {
        width: 100%;
        margin: 10px 0;
        .ctas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
            }
            .cta-donate-wrapper {
                margin: 12px 0;
                border-radius: 5px;
                cursor: pointer;
                .hero-donate-cta {
                    background-color: $blue;
                    padding: 12px 24px;
                    border-radius: 5px;
                    text-align: center;
                    display: flex;
                    color: $white;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    vertical-align: middle;
                    .arrow-icon {
                        margin-left: 0.3rem;
                        vertical-align: middle;
                    }
                }
            }
            .cta-apply-wrapper {
                margin: 12px 0;
                border-radius: 5px;
                cursor: pointer;
                .hero-apply-cta {
                    background-color: $yellow;
                    padding: 12px 24px;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    font-weight: 500;
                    vertical-align: middle;
                    .arrow-icon {
                        margin-left: 0.3rem;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .hero-sponsors {
        width: 100%;
        margin: 1rem 0;
        .sponsor-intro {
            font-size: 1.1rem;
            text-align: center;
            margin: 0.5rem 0 1.5rem 0;
        }
        .sponsors-list {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            a {
                width: 100px;
                height: 30px;
                // border: 1px solid lime;
                margin: 10px 0;
                img {
                    // border: 1px solid tomato;
                    object-fit: contain;
                    width: 100px;
                    height: 100%;
                }
            }
        }
    }
}
.sub-head-3 {
    font-size: 1.6rem;
}
.key {
    font-weight: 900;
    color: #000000;
}
.moving-on-community {
    width: 100%;
    margin: 20px 0;
    padding: 1rem 0;
    .community-effort {
        .community-intro {
            padding: 0 8%;
        }
        .steps { 
            width: 100%;
            .step {
                display: flex;
                position: relative;
                // justify-content: space-between;
                flex-direction: column;
                // margin: 1rem 0 3rem 0;
                .left-step {
                    margin: 1rem 0;
                    h3 {

                    }
                    .donate-text {

                    }
                    .donate-wrapper {
                        margin: 2rem 0 0;
                        border-radius: 5px;
                        .donate-cta {
                            // background-color: $blue;
                            // padding: 12px 24px;
                            border-radius: 5px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            color: $blue;
                            text-align: center;
                            text-decoration: none;
                            font-weight: 500;
                            vertical-align: middle;
                            .arrow-icon {
                                margin-left: 0.3rem;
                                vertical-align: middle;
                            }
                        }
                    }
                }
                .text-section {
                    width: 90%;
                    background-color: $white;
                    padding:  2rem;
                    position: relative;
                    top: -3rem;
                    margin: auto 1rem;
                    // border: 1px solid tomato;
                    z-index: 2;
                }
                .right-step {
                    // margin: 2rem 0;
                    h3 {

                    }
                    .apply-text {

                    }
                    .apply-wrapper {
                        margin: 2rem 0 0;
                        border-radius: 5px;
                        .apply-cta {
                            text-decoration: none;
                            font-weight: 500;
                            text-align: center;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            color: $yellow;
                            font-weight: 500;
                            vertical-align: middle;
                            .arrow-icon {
                                margin-left: 0.3rem;
                                vertical-align: middle;
                            }
                        }
                    }
                }
                .img-section {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.stats-wrapper {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0 2rem 0;
    background-color: $b-color;
    .stats {
        .stats-intro {
            margin: 1rem 0;
        }
        .stats-flex {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .statistics {
                margin: 0.6rem 0;
            }
        }
    }
}

.dhd-stories {
    width: 100%;
    margin: 20px 0;
    padding: 2rem 0;
    .stories {
        .story-intro {
            margin: 1rem 0;
        }
        .story-teaser {
            margin: 1rem 0;
        }
    }
    .stories-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .story {
            width: 100%;
            box-shadow: 0 0 20px 1px rgba(201, 199, 199,0.5);
            background-color: #fafaf07c;
            padding: 0.5rem 0.5rem;
            margin: 1.2rem 0;
            .story-quote-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.5rem 0;
                .quotation {
                    width: 30px;
                    height: 30px;
                }
            }
            .story-text {
                padding: 0.5rem 0;
                font-size: 0.9rem;
                text-align: center;
                font-weight: 500;
            }
            .div-auth {
                width: 4rem;
                background-color: $border-color;
                margin: 1rem auto;
                height: 0.2rem;
                border-radius: 10px;
            }
            .story-teller {
                padding: 0.2rem 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .avatar-box {
                    width: 100px;
                    height: 100px;
                    border: 4px solid $border-color;
                    border-radius: 100%;
                    .avatar {
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        object-fit: fill;
                    }
                }
                .story-teller-info {
                    // width: 100%;
                    margin: 0.5rem 0;
                    padding: 0.2rem 0;
                    .fullname {
                        font-family: $para-font;
                        font-weight: 700;
                        font-size: 0.9rem;
                        // color: $hero-color;
                    }
                    .job-title {
                        font-family: $para-font;
                        font-size: 0.9rem;
                        font-weight: 700;
                        text-align: center;
                        // color: $hero-color;
                    }
                    .twitter-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0.5rem auto;
                        a {
                            display: inline-block;
                            margin: 0.4rem 0;
                            img {
                                object-fit: contain;
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.faq-wrapper {
    width: 100%;
    margin: 20px 0;
    padding: 2rem 0;
    .faq {
        .accordion {
            font-family: $para-font;
            background-color: transparent;
            color: #555;
            cursor: pointer;
            padding: 0.3rem 0;
            width: 100%;
            border: none;
            text-align: left;
            font-weight: 500;
            outline: none;
            font-size: 1rem;
            transition: 0.4s;
            margin: 0.5rem 0;
            outline: none;
            .active , &:hover {
                // background-color: #ccc;
                &::after {
                    content: "\2212";
                }
            }
            &:after {
                content: '\002B';
                // color: #777;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }
        }
        .panel {
            padding: 0;
            margin: 0.2rem 0 0 0;
            // background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            p {
                font-size: 1rem;
            }
        }
    }
}

.cta-wrapper {
    width: 100%;
    .cta-intros {
        .cta-intro-hero {
            width: 100%;
            text-align: center;
        }
        .cta-outro-hero {
            width: 100%;
            text-align: left;
        }
    }
    .cta-links {
        display: flex;
        flex-direction: column;
        margin: 2rem 0 0 0;
        .cta-donate-wrapper {
            .hero-donate-cta {
                background-color: $blue;
                padding: 12px 24px;
                border-radius: 5px;
                display: block;
                color: $white;
                font-weight: 500;
                text-decoration: none;
                text-align: center;
                .arrow-icon {
                    margin-left: 0.3rem;
                    vertical-align: middle;
                }
            }
        }
        .cta-apply-wrapper {
            margin: 12px 0;
            border-radius: 5px;
            .hero-apply-cta {
                background-color: $yellow;
                padding: 12px 24px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                font-weight: 500;
                text-align: center;
                text-decoration: none;
                vertical-align: middle;
                .arrow-icon {
                    margin-left: 0.3rem;
                    vertical-align: middle;
                }
            }
        }
    }
}

footer {
    width: 100%;
    margin: 6rem 0 0;
    padding: 1rem 0;
    background-color: #000000;
    .footer-wrapper {
        width: 100%;
        .wordmark {
            fill: $white;
        }
        .socials-wrapper {
            width: 100%;
            display:flex;
            margin: 0.5rem 0;
            .social {
                margin-right: 1rem;
                img {
                    width: 24px;
                    height: 24px;
                    // filter: grayscale(100%);
                }
            }
        }
        .mail-wrapper {
            width: 100%;
            margin: 0.4rem 0;
            .mail {
                text-decoration: none;
                color: $white;
                font-size: 0.8125rem;
                &:hover {
                    color: #555;
                    text-decoration: underline;
                }
            }
        }
        .code-of-conduct-wrapper {
            width: 100%;
            margin: 0.4rem 0;
            .code-of-conduct {
                color: $white;
                font-size: 0.8125rem;
                text-decoration: none;
                &:hover {
                    color: #555;
                    text-decoration: underline;
                }
            }
        }
        .copywrite-wrapper {
            width: 100%;
            margin: 0.6rem 0 1rem 0;
            color: $white;
            .copywrite {
                font-size: 0.8125rem;
                color: $white;
            }
            .footer_year {
                font-size: 0.8125rem;
                // margin: 0 2rem;
            }
        }
    }
}